<form name="editForm" method="POST" action="/me/courses/edit/store/{{course._id}}?_method=PUT">
  <div class="mb-3">
    <label for="name" class="form-label">Ten khoa hoc</label>
    <input value="{{course.name}}" type="text" class="form-control" id="inputName" name="name" />
    <label for="description" class="form-label">Mo ta khoa hoc</label>
    <input value="{{course.description}}" type="text" class="form-control" id="inputDescription" name="description" />
    <label for="images" class="form-label">Images</label>
    <input value="{{course.images}}" type="text" class="form-control" id="inputImages" name="images" />
    <button id="editBtn" class="btn btn-primary">Luu lai</button>
</form>

{{!-- Delete Modal --}}
<div id="editModal" class="relative z-10 hidden" aria-labelledby="modal-title" role="dialog" aria-modal="true">
  <!--
    Background backdrop, show/hide based on modal state.

    Entering: "ease-out duration-300"
      From: "opacity-0"
      To: "opacity-100"
    Leaving: "ease-in duration-200"
      From: "opacity-100"
      To: "opacity-0"
  -->
  <div class="fixed inset-0 bg-gray-500 bg-opacity-75 transition-opacity" aria-hidden="true"></div>

  <div class="fixed inset-0 z-10 w-screen overflow-y-auto">
    <div class="flex min-h-full items-end justify-center p-4 text-center sm:items-center sm:p-0">
      <!--
        Modal panel, show/hide based on modal state.

        Entering: "ease-out duration-300"
          From: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
          To: "opacity-100 translate-y-0 sm:scale-100"
        Leaving: "ease-in duration-200"
          From: "opacity-100 translate-y-0 sm:scale-100"
          To: "opacity-0 translate-y-4 sm:translate-y-0 sm:scale-95"
      -->
      <div
        class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all sm:my-8 sm:w-full sm:max-w-lg">
        <div class="bg-white px-4 pb-4 pt-4 sm:p-6 sm:pb-4">
          <div class="flex flex-col justify-center">
            <div
              class="flex self-center h-12 w-12 flex-shrink-0 items-center justify-center rounded-full bg-red-100 sm:mx-0 sm:h-10 sm:w-10">
              <svg class="h-6 w-6 text-red-600" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M12 9v3.75m-9.303 3.376c-.866 1.5.217 3.374 1.948 3.374h14.71c1.73 0 2.813-1.874 1.948-3.374L13.949 3.378c-.866-1.5-3.032-1.5-3.898 0L2.697 16.126zM12 15.75h.007v.008H12v-.008z" />
              </svg>
            </div>
            <div class="mt-2 text-center sm:mt-0 sm:text-left">
              <h3 class="text-base font-semibold leading-6 text-gray-900" id="modal-title">Xác nhận thay đổi</h3>
              <div class="mt-2">
                <p class="text-sm text-gray-500">Bạn đã thay đổi:
                  <br>
                  <span>Name: {{course.name}}</span> -> <span id="spanNameComfirm"></span>
                  <br>
                  <span>Description: {{course.description}}</span> -> <span id="spanDescriptionComfirm"></span>
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="flex bg-gray-50 px-4 py-3 justify-end gap-1">
          <button type="button" class="bg-white ring-1 ring-inset ring-gray-300 px-3 font-semibold rounded-md h-[40px]"
            onclick="closeModal()">Huỷ</button>
          <button type="button" class="bg-red-500 text-white px-3 py-2 font-semibold rounded-md h-[40px]"
            onclick="submitEdit()">Xác nhận</button>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const editForm = document.forms['editForm'];
    const editBtn = document.getElementById('editBtn');
    const editModal = document.getElementById('editModal');
    const inputName = document.getElementById('inputName');
    const inputDescription = document.getElementById('inputDescription');
    const spanNameComfirm = document.getElementById('spanNameComfirm');
    const spanDescriptionComfirm = document.getElementById('spanDescriptionComfirm');

    editBtn.addEventListener('click', function (event) {
      event.preventDefault();
      editModal.classList.remove('hidden');
      spanNameComfirm.textContent = inputName.value;
      spanDescriptionComfirm.textContent = inputDescription.value;
    });

    window.closeModal = function () {
      editModal.classList.add('hidden');
    };

    window.submitEdit = function () {
      editForm.submit();
    };
  });
</script>